<li>
  <a href="https://www.ucl.ac.uk/">
  <img
  title="University College London"
  src="images/logos/logo_ucl.png"
  alt="University College London"
  ></img></a>
</li>
<li>
  <a href="https://tu-dresden.de/">
    <!-- style="height:3em;" -->
  <img
  title="Technical University Dresden"
  src="images/logos/logo_dresden.png"
  alt="Technical University Dresden"
  ></img></a>
</li>
<li>
  <a href="https://www.cpe.kmutt.ac.th/en/">
    <img
    title="King Mongkut's University of Technology Thonburi"
    src="images/logos/logo_mongkut.png"
    alt="King Mongkut's University of Technology Thonburi"
    ></img></a>
  </li>
<li>
  <a href="https://www.cam.ac.uk/">
  <img
  title="University of Cambridge"
  src="images/logos/logo_cam.png"
  alt="University of Cambridge"
  ></img></a>
</li>
<li>
  <a href="http://www.feit.ukim.edu.mk">
  <img
  title="FEEIT, UKIM"
  src="images/logos/logo_feeit.png"
  alt="FEEIT, UKIM"
  ></img></a>
</li>
